.nav {
  background-color: #24292e;
  padding: 15px;
}

.nav a {
  color: #ffffff;
  margin: auto 0;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.nav .mob-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

@media screen and (min-width: 40em) {
  .nav .mob-view {
    display: none;
  }
}

.nav .mob-view .big {
  font-size: 200%;
}

.nav .pc-view {
  display: none;
}

@media screen and (min-width: 40em) {
  .nav .pc-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
}

.nav .pc-view .fab {
  font-size: 200%;
}

.nav .pc-view .search-group {
  margin: auto 10px;
  width: 300px;
  height: 30px;
  position: relative;
}

@media screen and (min-width: 60em) {
  .nav .pc-view .search-group {
    margin: auto 15px;
  }
}

.nav .pc-view .search-group #pc-search {
  width: 100%;
  height: 100%;
}

.nav .pc-view .search-group #pc-search:focus + .slash {
  position: relative;
  display: none;
}

.nav .pc-view .search-group .slash {
  position: absolute;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 4px;
  right: 8px;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
  color: #9b9b9b;
  width: 20px;
  height: 20px;
}

.nav .pc-view .nav-link {
  margin: auto 5px;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 60em) {
  .nav .pc-view .nav-link {
    margin: auto 10px;
  }
}

.nav .pc-view .nav-link:nth-child(3):after {
  content: "Pulls";
}

@media screen and (min-width: 60em) {
  .nav .pc-view .nav-link:nth-child(3):after {
    content: "Pull requests";
  }
}

.nav .pc-view .end {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.nav .pc-view .end .nav-link-end {
  margin: auto 5px;
  font-size: 14px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 60em) {
  .nav .pc-view .end .nav-link-end {
    margin: auto 10px;
  }
}

.nav .pc-view .end .nav-link-end:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.nav .pc-view .end .nav-link-end .avi {
  width: 25px;
  height: 25px;
  margin: auto 0;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.nav .pc-view .end .nav-link-end .fa-caret-down {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 3px;
}

.nav-search {
  background: transparent;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
  color: #f6f8fa;
}

.nav-search:focus {
  border: 1px solid blue;
  outline: none;
}

.nav-search::-webkit-input-placeholder {
  color: #cfcece;
}

.nav-search:-ms-input-placeholder {
  color: #cfcece;
}

.nav-search::-ms-input-placeholder {
  color: #cfcece;
}

.nav-search::placeholder {
  color: #cfcece;
}

.mob-nav {
  display: none;
  padding: 1px 15px;
  background-color: #24292e;
}

.mob-nav #mob-search {
  width: 100%;
  height: 30px;
}

.mob-nav ul {
  list-style-type: none;
  padding: 0;
}

.mob-nav ul li {
  border-top: 1px solid #9b9b9b;
  color: #ffffff;
  padding: 10px 0;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-nav ul li .avi {
  width: 20px;
  height: 20px;
  margin: auto 0;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

@media screen and (min-width: 40em) {
  .mob-nav.show {
    display: none;
  }
}

.show {
  display: block;
}

#content {
  padding: 7px 0;
}

#content .bio {
  padding: 0 15px;
}

#content .bio .avi-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

#content .bio .avi-names .avi {
  margin-right: 20px;
}

#content .bio .avi-names .avi img.avatar {
  width: 55px;
  height: 55px;
}

#content .bio .avi-names .names h1 {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding-bottom: 0;
  color: #24292e;
}

#content .bio .avi-names .names h2 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 2px;
  color: #586069;
}

#content .bio .set-status {
  border: 1px solid #e1e4e8;
  border-radius: 5px;
  width: 100%;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #586069;
}

@media screen and (min-width: 40em) {
  #content .bio .set-status {
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    width: 100%;
    height: 30px;
  }
}

#content .bio .set-status .far {
  font-size: 14px;
  margin: 0 8px;
}

#content .bio .set-status p {
  font-size: 12px;
}

#content .bio .desc {
  color: #24292e;
  font-size: 16px;
}

#content .mobile-tabs {
  margin-top: 20px;
  padding: 0 15px;
  border-bottom: 1px solid #e1e4e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  overflow-x: scroll;
  color: #24292e;
}

#content .mobile-tabs p {
  font-size: 16px;
  padding: 15px 13px;
  margin-bottom: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#content .mobile-tabs p.active {
  font-weight: 600;
  border-bottom: 2px solid #f9826c;
}

#content .mobile-tabs p.active .amount {
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  background-color: rgba(209, 213, 218, 0.5);
  border: 0;
  padding: 2px 6px;
}

#content .tab-content {
  padding: 15px;
}

#content .tab-content .search-repo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  border-bottom: 1px solid #e1e4e8;
}

@media screen and (min-width: 40em) {
  #content .tab-content .search-repo {
    padding-bottom: 15px;
  }
}

#content .tab-content .search-repo .find-repo {
  border: 1px solid #e1e4e8;
  border-radius: 5px;
  width: 100%;
  height: 30px;
}

#content .tab-content .search-repo .find-repo:focus {
  border: 1px solid blue;
  outline: none;
  -webkit-box-shadow: 0 0 0 2pt #b2b2fa;
          box-shadow: 0 0 0 2pt #b2b2fa;
}

#content .tab-content .search-repo .find-repo::-webkit-input-placeholder {
  color: #7c7c7c;
}

#content .tab-content .search-repo .find-repo:-ms-input-placeholder {
  color: #7c7c7c;
}

#content .tab-content .search-repo .find-repo::-ms-input-placeholder {
  color: #7c7c7c;
}

#content .tab-content .search-repo .find-repo::placeholder {
  color: #7c7c7c;
}

@media screen and (min-width: 40em) {
  #content .tab-content .search-repo .find-repo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 15px;
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    width: 100%;
    height: 35px;
  }
}

#content .tab-content .search-repo .details {
  margin: 15px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

@media screen and (min-width: 40em) {
  #content .tab-content .search-repo .details {
    margin: 0;
    width: unset;
  }
}

#content .tab-content .search-repo details {
  position: relative;
}

#content .tab-content .search-repo details summary {
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  border-radius: 5px;
  width: 50px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px 0 0;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
  color: #24292e;
}

@media screen and (min-width: 40em) {
  #content .tab-content .search-repo details summary {
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    width: 50px;
    height: 33px;
  }
}

#content .tab-content .search-repo details summary::-webkit-details-marker {
  display: none;
}

#content .tab-content .search-repo details summary:hover {
  cursor: pointer;
  background-color: #ebecee;
}

#content .tab-content .search-repo details summary:focus {
  outline: none;
}

#content .tab-content .search-repo details summary span {
  color: #586069;
}

#content .tab-content .search-repo details summary .fas {
  margin-left: 5px;
}

#content .tab-content .search-repo details .details-menu {
  border: 1px solid #e1e4e8;
  border-radius: 10px;
  width: 280px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 0;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 50;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(229, 229, 229, 0.5);
          box-shadow: 0px 4px 10px 2px rgba(229, 229, 229, 0.5);
}

@media screen and (min-width: 40em) {
  #content .tab-content .search-repo details .details-menu {
    left: -180px;
  }
}

#content .tab-content .search-repo details .details-menu p {
  border-bottom: 1px solid #9b9b9b;
  padding: 10px 15px;
  margin: 0;
  font-size: 14px;
  color: #24292e;
}

#content .tab-content .search-repo details .details-menu p .inactive {
  visibility: hidden;
}

#content .tab-content .search-repo details .details-menu p.title {
  font-weight: 500;
}

#content .tab-content .search-repo details.lang summary {
  border: 1px solid #e1e4e8;
  border-radius: 5px;
  width: 80px;
  height: 28px;
}

@media screen and (min-width: 40em) {
  #content .tab-content .search-repo details.lang summary {
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    width: 80px;
    height: 33px;
  }
}

#content .tab-content .search-repo details.lang .details-menu {
  left: -100px;
}

@media screen and (min-width: 40em) {
  #content .tab-content .search-repo details.lang .details-menu {
    left: -150px;
  }
}

#content .tab-content .search-repo .btn-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  border-radius: 5px;
  background-color: #2ea44f;
  color: #ffffff;
  height: 28px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
  margin-left: auto;
}

@media screen and (min-width: 40em) {
  #content .tab-content .search-repo .btn-new {
    margin-left: 15px;
    height: 35px;
  }
}

#content .tab-content .search-repo .btn-new svg {
  margin-right: 3px;
}

#content .tab-content .search-repo .btn-new svg path {
  fill: #ffffff;
}

#content .tab-content .repo-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

#content .tab-content .repo-list .repo {
  padding: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e1e4e8;
}

#content .tab-content .repo-list .repo .name-lang {
  max-width: 60%;
}

#content .tab-content .repo-list .repo .name-lang .name-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#content .tab-content .repo-list .repo .name-lang .name-type a {
  color: #0366d6;
  font-weight: 600;
  font-size: 24px;
  margin: 0 15px 0 0;
  text-decoration: none;
}

#content .tab-content .repo-list .repo .name-lang .name-type a:hover {
  text-decoration: underline;
}

#content .tab-content .repo-list .repo .name-lang .name-type .type {
  border: 1px solid #e1e4e8;
  border-radius: 10px;
  width: inherit;
  height: inherit;
  padding: 1px 6px;
  margin-bottom: 3px;
  color: #586069;
  font-weight: 500;
  font-size: 12px;
}

#content .tab-content .repo-list .repo .name-lang .forked {
  color: #586069;
  font-size: 12px;
  margin: 5px 0;
}

#content .tab-content .repo-list .repo .name-lang .forked .link {
  text-decoration: none;
  color: #586069;
}

#content .tab-content .repo-list .repo .name-lang .forked .link:hover {
  color: #0366d6;
  text-decoration: none;
}

#content .tab-content .repo-list .repo .name-lang .detail {
  color: #586069;
  font-size: 14px;
  margin: 5px 0;
}

#content .tab-content .repo-list .repo .name-lang .lang-updated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  margin-top: 15px;
}

#content .tab-content .repo-list .repo .name-lang .lang-updated p {
  color: #586069;
  font-size: 12px;
  margin: 0 20px 3px 0;
}

#content .tab-content .repo-list .repo .name-lang .lang-updated p .fa-circle {
  margin-right: 2px;
}

#content .tab-content .repo-list .repo .name-lang .lang-updated p .js {
  color: #f1e05a;
}

#content .tab-content .repo-list .repo .name-lang .lang-updated p .css {
  color: #563d7c;
}

#content .tab-content .repo-list .repo .name-lang .lang-updated p .scss {
  color: #c6538c;
}

#content .tab-content .repo-list .repo .name-lang .lang-updated p .ts {
  color: #2b7489;
}

#content .tab-content .repo-list .repo .name-lang .lang-updated p .php {
  color: #4f5d95;
}

#content .tab-content .repo-list .repo .name-lang .lang-updated p .python {
  color: #3572a5;
}

#content .tab-content .repo-list .repo .name-lang .lang-updated p .html {
  color: #e34c26;
}

#content .tab-content .repo-list .repo .name-lang .lang-updated a {
  text-decoration: none;
  color: #586069;
  font-size: 12px;
  margin: 0 20px 3px 0;
}

#content .tab-content .repo-list .repo .name-lang .lang-updated a:hover {
  text-decoration: none;
  color: #0366d6;
}

#content .tab-content .repo-list .repo .star .btn-star {
  background-color: #ffffff;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
  color: #24292e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  width: inherit;
  height: 28px;
}

@media screen and (min-width: 40em) {
  #content .tab-content .repo-list .repo .star .btn-star {
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    width: inherit;
    height: 33px;
  }
}

#content .tab-content .repo-list .repo .star .btn-star:hover {
  cursor: pointer;
  background-color: #ebecee;
}

#content .tab-content .repo-list .repo .star .btn-star:focus {
  outline: none;
}

#content .tab-content .repo-list .repo .star .btn-star .far {
  margin-right: 3px;
  color: #586069;
}

#content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

#content .buttons button {
  color: rgba(3, 101, 214, 0.6);
  padding: 0 20px;
  background-color: #ffffff;
  font-weight: 700;
}

#content .buttons button:focus {
  outline: none;
}

#content .buttons .btn-prev {
  border: 1px solid #e1e4e8;
  border-radius: 5px 0 0 5px;
  width: inherit;
  height: 33px;
}

#content .buttons .btn-next {
  border: 1px solid #e1e4e8;
  border-radius: 0 5px 5px 0;
  width: inherit;
  height: 33px;
  border-left: 0;
}

footer {
  margin: 70px 15px 0 15px;
  padding: 40px 20px;
  border-top: 1px solid #e1e4e8;
}

@media screen and (min-width: 60em) {
  footer {
    padding: 40px 0;
  }
}

footer .footer-links {
  color: #24292e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

footer .footer-links p {
  font-size: 12px;
  margin: 3px 5px;
}

footer .footer-links a {
  font-size: 12px;
  color: #0366d6;
  margin: 3px 5px;
  text-decoration: none;
}

footer .footer-links a:hover {
  color: #0366d6;
  text-decoration: underline;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

input {
  padding: 0 9px;
}

img {
  border-radius: 100%;
}
/*# sourceMappingURL=style.css.map */